__pycache__
.ipynb_checkpoints
callback
wandb
catboost_info
.vscode/settings.json
**/*.tar.gz
**/*.pickle
**/*.csv
**/*.gzip
**/*.pth
**/*.pkl
**/*.cache
**/*.sqlite3
.idea
ai4material_design*.o*
params.yaml.bak